*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}

ol, ul {
    padding-left: 0 !important;
}


 .hover-primary:hover {
        color:  #009846 !important; 
        transition: all 0.2s ease-in-out; 
    }


    .btn_contact:hover{
        color:  #c0e9fd !important; 
        transition: all 0.2s ease-in-out;
        border: 3px solid #c0e9fd !important;
    }

    .btn:hover{
        background: #c0e9fd !important;
        transition: all 0.2s ease-in-out; 
    }

    .btn_price_taxi:hover{
        background: #009846 !important;
        transition: all 0.2s ease-in-out;  
    }
  
.nav-link-hover:hover {
    color: #009846 !important; 
    text-decoration: underline !important;
}


.swiper-button-next:hover, .swiper-button-prev:hover{
      background: #009846 !important;
    transition: all 0.2s ease-in-out;  
}


.hero{
    background: url(../img/Rectangle\ 1.png);
     height: auto;
    padding-bottom: 110px;
    background-repeat: no-repeat;
    background-size: cover;
}


.section_page h2{
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    color: #000000;
    text-align: center;
    margin-top: 60px;
}

.cont_form input{
    border: 1px solid #798CAC;
    border-radius: 10px;
    padding: 8px;
    outline: none;
    width: 270px;
}


#tariff, #services, #region-select{
    border: 1px solid #798CAC;
    border-radius: 10px;
    padding: 8px;
    outline: none;
    width: 270px;
    cursor: pointer;
     height: max-content;
}

.btn_price_taxi{
    margin-top: 10px;
    background: #0293DE;
    border-radius: 10px;
    padding: 10px 50px;
    font-weight: 600;
    font-size: 15px;
    border: none;
    color: #F0F8FF;
}

.btn_dop{
    background: none;
}

.сont_form{
    margin-top: 30px;
}

.btn_price_taxi{
    margin-top: 20px;
    text-align: end;
}

#result{
    margin-top: 20px;
    font-weight: 600;
    font-size: 18px;
}




 #map {
            width: 100%;
            height: 200px !important;
            margin-top: 20px;
            display: none;
        }

.card-title{
    font-weight: 600;
    font-size: 25px;
    color: #000000;
}

.card-text{
font-size: 16px;
line-height: 22px;
color: #575656;

}

.price_card{
    font-weight: 600;
    font-size: 18px;
    color: #0293DE;
}

.card_flex{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;
    padding-top: 30px;
}

.swiper-backface-hidden .swiper-slide{
    width: 300px !important;
}





.card .card-button:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 15px rgba(99, 102, 241, 0.3);
}
.wrapper .swiper-pagination-bullet {
  height: 15px;
  width: 15px;
  opacity: 1;
  overflow: hidden;
  position: relative;
  background: #B1B3F8;
}
.wrapper .swiper-pagination-bullet-active {
  background: #a4a7fd;
}

.wrapper :where(.swiper-button-prev, .swiper-button-next) {
  color: #6366f1;
  margin-top: -35px;
  transition: all 0.3s ease;
}
.wrapper :where(.swiper-button-prev, .swiper-button-next):hover {
  color: #8b5cf6;
}



#showMoreBtn{
    text-decoration: none;
    background: none;
    border: none;
    display: block;
    margin:  auto;
    padding-top: 20px;
    font-size: 16px;
    font-weight: 500;
}

.dropdown-menu.show{
    width: 200px;
}

.card-title_service{
    font-weight: 600;
    font-size: 25px;
    line-height: 37px;
    color: #000000;
    margin-top: 10px;
}

.price_service{
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #0293DE;
    margin-top: 10px;
}

.card_service img{
    padding-left: 35px;
    width: 270px;
    padding-top: 20px;
}

.card_service .card-body{
    overflow: hidden;
}

.card{
    border: 1px solid #798CAC !important;
}


.swiper-button-next:after{
    font-size: 22px !important;
    color: white;
}


.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after{
    font-size: 22px !important;
    color: white;
}

.swiper-slide-button, .swiper-button-next{
    background-color: #0293DE;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 90px;
}


.swiper-button-prev, .swiper-rtl .swiper-button-next {
    left: var(--swiper-navigation-sides-offset, 10px);
    right: auto;
    margin-top: 0px !important;
    margin-left: 10px;
}


.swiper-button-next, .swiper-rtl .swiper-button-prev {
    right: var(--swiper-navigation-sides-offset, 10px);
    left: auto;
    margin-top: 0px !important;
}


.about_cont_wrapper{
    padding: 60px;
    background: rgba(189, 215, 255, 0.19);
    margin-top: 60px;
}


.about_cont{
    max-width: 1200px;
    margin: 0 auto;
}


.about_cont h2{
    font-weight: 600;
    font-size: 38px;
    color: #000000;
}

.about_cont p{
    font-weight: 400;
    font-size: 18px;
    color: #000000;
    margin-top: 30px;
}

tr{
    border-bottom: 1.5px solid #cad2de !important;
    font-size: 20px;
}

.td{
   font-size: 18px; 
}

.cont_accordion{
    max-width: 1200px;
    margin: 0 auto;
}

.accordion-button{
    font-weight: 600;
    font-size: 24px !important;
    color: #000000;
    width: 200px;
    gap: 20px;
}




.accordion-button:not(.collapsed) {
    background-color: white !important;
    border: none !important;
}

.accordion-button:focus{
    box-shadow: none !important;
}

.accordion-header{
    margin-top: 10px !important;
}


.accordion-button{
    padding-left: 0px !important;
}




.accordion-button::after,
.accordion-button:not(.collapsed)::after {
    --bs-accordion-btn-icon-width: 25px !important;
}

.accordion-button:not(.collapsed){
    color: #212529 !important;
}

.accordion-body{
    padding: 0 !important;
    margin-bottom: 20px !important;
    font-size: 17px;
    color: #575656;
}

.section_page_sity{
    max-width: 1200px;
    margin: 0 auto;
      margin-top: 60px;
}


.section_page_sity h2{
    margin-top: 0px;
    text-align: start;
    font-size: 40px;
}



.card_sity{
    border: 1px solid #798CAC;
    border-radius: 20px;
    padding: 15px;
    display: flex;
    gap: 15px;
    align-items: center;
}

.card_sity a{
    padding-right: 40px;
    font-weight: 600;
    font-size: 18px;
    color: #000000;
    text-decoration: none;
}


.list_sity_wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 12px;
    margin-top: 30px;
    width: 100%;
}



.logos-marquee {
            width: 100%;
            overflow: hidden;
            position: relative;
            max-width: 1200px;
            margin: 0 auto;
            margin-top: 50px;
        }

        .title_logo{
            font-size: 25px;
        }
        
        .logos-track {
            display: flex;
            align-items: center;
            will-change: transform; 
            margin-top: 40px;
        }
        
        .logo-item {
            flex: 0 0 auto;
            width: 275px;
            margin: 0 20px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        .logo-item img {
            max-width: 100%;
            height: auto;
            filter: grayscale(100%);
            transition: filter 0.3s ease;
        }
        
        .logo-item:hover img {
            filter: grayscale(0%);
        }


.contact_cont_wrapper{
    background-image: url(../img/Rectangle\ 9.png);
    background-repeat: no-repeat;
        background-size: cover;
}

.container_cont{
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 70px;
    padding-bottom: 70px;
}



.title_contact_cont{
    font-weight: 600;
    font-size: 45px;
    color: #F0F8FF;
}

.contact_cont_wrapper{
    margin-top: 60px;
}


.prg_contact_cont{
    font-weight: 500;
    font-size: 18px;
    color: #F0F8FF;
    padding-top: 20px;
    width: 650px;
}

.phone_contact{
    display: flex;
    gap: 10px;
    align-items: center;
}

.phone_contact a{
    font-weight: 500;
    font-size: 21px;
    color: #F0F8FF;
    text-decoration: none;
}

.phone_number_cont{
    display: flex;
    gap: 30px;
    align-items: center;
    margin-top: 30px;
}

.cont_social_media{
    display: flex;
    gap: 15px;
    align-items: center;
    margin-top: 30px;
}

.footer{
    padding-top: 60px;
    padding-bottom: 45px;
    background: rgba(189, 215, 255, 0.5);
    margin-top: 60px;
}

.cont_footer_wrapper{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}


.footer_cont_left{
    display: flex;
    gap: 200px;
}


.logo_footer img{
    width: 270px;
}


.politic{
    font-weight: 400;
    font-size: 18px;
    color: #000000;
    text-decoration: none;
    padding-top: 40px;
    display: block;
}


.menu_footer li a{
     font-size: 18px;
    color: #000000;
    text-decoration: none;
    padding-bottom: 15px;
    display: block;
}

.phone_contact_footer{
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 20px;
}

.phone_contact_footer a{
    font-weight: 400;
    font-size: 20px;
    color: #000000;
    text-decoration: none;
}


/* Модалка */

.modal-content{
    width: 900px !important;
    border-radius: 20px !important;
}

.modal-content img{
    width: 47%;
    height: auto;

}


.title_modal_form{
    font-weight: 600;
    font-size: 35px;
    color: #000000;
}


.btn-close{
    margin-left: 400px;
    margin-top: 20px;
}

.prg_modal_form{
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    color: #575656;
    width: 400px;
}

input{
    outline: none !important;
}

form{
    margin-right: 30px;
    margin-top: 20px;
    margin-bottom: 50px;
}


.input_flex input, .form-control{
    border: 1px solid #798CAC;
    border-radius: 10px;
    font-size: 16px;
}

.input_flex{
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: max-content !important;
        margin-right: auto;
        margin-left: auto;
    }
}

textarea{
    resize: none !important;
      border: 1px solid #798CAC !important;
    border-radius: 10px;
    font-size: 16px;
    color: #9F9D9D;
}

input:focus, textarea:focus, .btn-close, .form-select { outline: none; /* Убираем подсветку */ box-shadow: none; /* Убираем тени */ }  
input, textarea, .btn-close, .form-select { outline: none !important; /* Никакой подсветки */ box-shadow: none !important; }


.btn_form{
    width: 100%;
    background-color: #0293DE;
    color: white;
    border: 0;
    padding: 12px;
    border-radius: 20px;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    margin-top: 20px;
}

.form-check-input{
     border: 1px solid #798CAC !important;
     width: 20px !important;
     height: 20px !important;
     cursor: pointer;
}

.checkout{
    display: flex;
    gap: 20px;
    align-items: center;
}

.form-check-label{
    padding-left: 10px;
}

.form-check{
    margin-top: 20px;
    font-size: 16px;
    font-weight: 400;
}

.form-check a{
    font-weight: 400;
    color: #000000;
}

.btn_form:hover {
    background: #009846 !important;
    transition: all 0.2s ease-in-out;
}

.tablet_header{
    display: none;
}


.mobile_section_service{
    display: none;
}

 /* Стили для бургер-меню */
    .navbar-toggler {
        border: none;
        padding: 0;
        font-size: 1.5rem;
    }
    
    .navbar-toggler:focus {
        box-shadow: none;
    }
    
    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }

    .accordion-button{
        align-items: start !important;
    }


     @media(max-width: 1230px){
        header{
            padding-left: 20px;
            padding-right: 20px;
        }

        .title_cont{
             padding-left: 20px;
            padding-right: 20px;
        }


        .cont_form_wrapper{
             padding-left: 20px;
            padding-right: 20px;
        }
        
        .card_flex{
             padding-left: 20px;
            padding-right: 20px;
        }

        .card-list{
            padding-left: 20px;
            padding-right: 20px; 
        }

        .table{
            max-width: 1100px !important;
        }


        .section_page_sity{
            margin-left: 35px;
            margin-right: 35px;
        }


        .cont_accordion {
            margin-left: 35px;
            margin-right: 35px;
        }

        .container_cont{
            padding-left: 30px;
            padding-right: 30px;
        }

        .cont_footer_wrapper{
            padding-left: 30px;
            padding-right: 30px;
        }
     }

     @media(max-width: 1090px){
        .section_page_sity{
            margin-left: 20px;
            margin-right: 20px;
        }

        .offcanvas-header .btn-close {
    padding: calc(var(--bs-offcanvas-padding-y) * .5) calc(var(--bs-offcanvas-padding-x) * .5);
    margin-top: calc(-.5 * var(--bs-offcanvas-padding-y));
    margin-right: calc(-.5 * var(--bs-offcanvas-padding-x)) !important;
    margin-bottom: calc(-.5 * var(--bs-offcanvas-padding-y));
    margin-left: auto;
}


        .cont_accordion {
            margin-left: 20px;
            margin-right: 20px;
        }

        .container_cont{
            padding-left: 20px;
            padding-right: 20px;
        }

        .cont_footer_wrapper{
            padding-left: 20px;
            padding-right: 20px;
        }


        .title_cont h1{
            font-size: 60px !important;
        }

        .section_page h2{
            font-size: 37px !important;
        }

        .swiper-backface-hidden .swiper-slide{
            width: 316px !important;
        }

        .footer_cont_left{
            gap: 100px;
        }
     }

     .mobile_tarife{
        display: none;
     }

     
     
     @media(max-width: 990px){
        .desctop_section_service{
            display: none;
        }

        .mobile_section_service{
            display: block;
        }

        .desctop_tarife{
            display: none;
        }

        .mobile_tarife{
        display: block;
        }
     }

      @media(max-width: 920px){
           .tablet_header{
            display: block;
            width: -webkit-fill-available;
        }

        .desctop{
            display: none !important;
        }

        .cont_form{
            flex-wrap: wrap;
        }

        .servises{
            margin-left: 20px;
            margin-right: 20px;
        }

        .about_cont h2 {
            font-size: 35px;
        }

        .accordion-button{
            font-size: 22px !important;
        }

        .about_cont_wrapper{
            padding-left: 40px;
        }

        .hero p{
            width: auto !important;
        }

        .prg_contact_cont{
            width: auto !important;
        }

        .menu_footer{
            display: none;
        }

        .cont_footer_wrapper{
            flex-wrap: wrap;
        }
      }
     

      @media(max-width: 897px){
         .btn_price_taxi{
            display: block !important;
            margin: 0 auto;
            padding-top: 10px !important;
        }

        .btn_calculate{
            margin-top: 20px !important;
        }

        .cont_form{
            justify-content: center;
        }

        th{
            width: 200px !important;
        }

        .result{
            text-align: center;
        }

        .table_row{
            width: 100px !important;
        }


        .modal-content {
            width: 600px !important;
            border-radius: 20px !important;
        }

        .btn-close{
            margin-right: -130px !important;
        }

        .prg_modal_form {
            margin: 0 auto!important;
        }


        form {
            margin-right: 30px;
            margin-top: 20px;
            margin-left: 30px;
            margin-bottom: 50px;
            width: 550px;
        }

        .modal-content img{
            display: none;
        }

        .modal-content, .d-flex{
             justify-content: center;
        }

        .social_media .d-flex{
             justify-content: start;
        }

        .form_contact{
            text-align: center;
        }

        .form-check{
            text-align: justify;
        }

            input[type="datetime-local"] {
                width: 267.5px;
            }


            form select{
                 width: 267.5px !important;
            }
      }


       @media (max-width: 600px) {
           .modal-content {
        width: 100% !important;
        border-radius: 20px !important;
        margin-left: 20px;
        margin-right: 20px;
    }

        form {
        width: auto;
    }

    .btn-close{
        margin-right: -70px !important;
    }

    .modal-content{
        margin-left: 20px !important;
    }

    .modal-dialog{
        display: flex;
    }
       }


           @media (max-width: 540px) {
               .input_flex{
                  flex-wrap: wrap;
               }

               .prg_modal_form {
                    font-weight: 400;
                    font-size: 17px;
                    line-height: 24px;
                    color: #575656;
                    width: 350px;
                }

                input[type="datetime-local"] {
                width: 100% !important;
            }


            form select{
                 width: 100% !important;
            }

            .modal-dialog{
                    display: flex;
                    justify-content: center;
                    margin-left: 20px;
                    margin-right: 20px;
            }

                .btn-close {
                    margin-right: 20px !important;
                }


                .prg_modal_form{
                    padding-left: 20px;
                    padding-right: 20px;
                }
                

                .logo_footer img {
    width: 240px !important;
}

           }
    
    /* Адаптивные стили */
    @media (max-width: 767px) {
        .logo_mobile {
            text-align: center;
        }
        
        .offcanvas {
            width: 75% !important;
        }


        .cont_form{
            justify-content: center;
        }
    }

    @media (max-width: 500px) {
        .tablet_header{
            display: none;
        }

        .mobile{
            display: block !important;
        }

        .cont_form .cont_form input, #tariff, #services, #cityTo, #cityFrom {
        width: 100% !important;
    }

    .cont_form, .btn_price_taxi{
          width: 100% !important;
    }

    .about_cont h2 {
        font-size: 32px;
    }

    .section_page_sity .d-flex{
        flex-wrap: wrap;
        gap: 20px;
    }


    .title_contact_cont {
    font-weight: 600;
    font-size: 35px;
    color: #F0F8FF;
}

.prg_contact_cont{
    font-size: 17px;
}

.phone_number_cont {
    display: flex
;
    gap: 30px;
    align-items: center;
    margin-top: 30px;
    flex-wrap: wrap;
}
        
    }

    @media (max-width: 450px) {
               .btn-close{
                margin-right: 50px !important;
               }

               form{
                padding-left: 20px;
                padding-right: 20px;
               }
           }


    @media (max-width: 490px) {
        .title_cont h1 {
        font-size: 50px !important;
    }

        .section_page h2 {
        font-size: 30px !important;
    }

        .hero p {
            font-size: 16px !important;
        }

        .cont_form input, #tariff, #services {
           width: 88%;
        }

        .btn_price_taxi{
              width: 88%;
              text-align: center;
        }


        .about_cont_wrapper {
        padding-left: 20px;
        padding-right: 20px;
    }

    .politic_desctop{
        display: none;
    }


    .cont_footer_wrapper {
        flex-wrap: wrap;
        gap: 40px;
    }

    .politic_mobile {
    display: block !important;
}

    .overflow_list_sity{
            display: flex;
            overflow: inherit;
            width: unset;
    }

    .card_sity a {
    width: max-content;
}


.list_sity_wrapper{
    display: flex;
    overflow: scroll;
}

.offcanvas-body button{
    background: #0293de;
    padding: 10px 40px !important;
    display: block;
    text-decoration: none !important;
    color: white;
    border-radius: 20px;
}

    }


    @media(max-width: 400px){
        .input_flex input, .form-control {
           width: 350px !important;
        }

        .input_flex {
        flex-wrap: wrap;
        justify-content: center;
    }


    #calculate, .cont_form #tariff, #services, #cityTo, #cityFrom {
        width: 100% !important;
    }

    

      #calculate #services{
        width: 100% !important;
      }


    #tariff, #services {
        width: 350px !important;
    }

    .prg_modal_form{
        width: 350px;
    }

    form textarea{
         width: 350px !important;
         margin: 0 auto;
    }

    .btn_form{
         width: 350px !important;
    }

    .form_check{
            width: 350px;
    margin: 0 auto;
    padding-top: 20px;
    }

    .btn-close {
        margin-right: 80px !important;
    }
    }

    @media(max-width: 400px){
        #tariff, #services {
        width: 330px !important;
    }

    .input_flex input, .form-control {
           width: 330px !important;
        }


    .prg_modal_form{
        width: 330px;
    }

    form textarea, .form-check{
         width: 330px !important;
         margin: 0 auto;
    }

    .form-check{
        padding-top: 20px;
            font-size: 14px;
    }

    .btn_form{
         width: 330px !important;
    }

    .title_modal_form {
    font-weight: 600;
    font-size: 30px;
    color: #000000;
}

.prg_modal_form{
    font-size: 16px;
}

.btn-close {
        margin-right: 90px !important;
    }
}

 @media(max-width: 390px){
    .title_cont h1 {
        font-size: 44px !important;
    }
 }

.politic_mobile{
    display: none;
}


 @media(max-width: 360px){
        #tariff, #services {
        width: 300px !important;
    }

    .input_flex input, .form-control {
           width: 300px !important;
        }


    .prg_modal_form{
        width: 300px;
    }

    form textarea, .form-check{
         width: 300px !important;
         margin: 0 auto;
    }

    .form-check{
        padding-top: 20px;
            font-size: 14px;
    }

    .btn_form{
         width: 300px !important;
    }

    .title_modal_form {
    font-weight: 600;
    font-size: 30px;
    color: #000000;
}

.prg_modal_form{
    font-size: 16px;
}

.btn-close {
        margin-right: 120px !important;
    }
}


@media(max-width: 330px){
        #tariff, #services {
        width: 270px !important;
    }

    .input_flex input, .form-control {
           width: 270px !important;
        }


    .prg_modal_form{
        width: 270px;
    }

    form textarea, .form-check{
         width: 270px !important;
         margin: 0 auto;
    }

    .form-check{
        padding-top: 20px;
            font-size: 14px;
    }

    .btn_form{
         width: 270px !important;
    }

    .title_modal_form {
    font-weight: 600;
    font-size: 30px;
    color: #000000;
}

.prg_modal_form{
    font-size: 16px;
}

.btn-close {
        margin-right: 150px !important;
    }
}
